html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
html::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}
